body{
    background-image: url(https://vignette.wikia.nocookie.net/simpsons/images/5/50/Wiki-background/revision/latest?cb=20111015160455);
}

#quiz{
    background-color: steelblue;
    position: relative;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 120px;
    height: 850px;
    font-family:  'Rock Salt', cursive;
    color: yellow;
    font-size: 12px;
}

h1{
    font-family: 'Rock Salt', cursive;
    color: yellow;
    text-align: center;
    font-size: 40px;
    position: relative;
    top: -60px;
    }

h3{
    font-family: 'Rock Salt', cursive;
    color: yellow;
    text-align: center;
    font-size: 30px;
}
#donutStart{
    position: absolute;
    left: 300px;
    width: 300px;
    margin-left: 100px;
    margin-right: 100px;
}

#end-page{
    display: none;
}

#submitButton{
    display:none;
}
